{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <!-- Fullscreen cover -->
    <div class="container-fluid py-5"
         style="background-image: url('https://images.pexels.com/photos/1684187/pexels-photo-1684187.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); background-size: cover;
         min-height: 100vh;">


        <div class="container-md">
            <div class="row align-bottom" style="margin-top: 20vh;">
                <h1>Created By</h1>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <a href="https://github.com/structinf">
                        <img src="https://avatars2.githubusercontent.com/u/1699783?s=400&v=4" class="card-img-top" alt="..." style="width: 100%; height:100%; max-height: 250px; object-fit: cover; ">
                        </a>
                        <div class="card-body px-auto">
                            <a href="https://github.com/structinf" style="text-decoration: none; color:black">
                                <h4 class="card-title">structinf</h4>
                            </a>
                            <p class="card-text">
                                Andreas Goulas
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <a href="https://github.com/CedArctic">
                        <img src="https://avatars1.githubusercontent.com/u/5578714?s=400&u=c5d84da7f2b9cc20a8e66804d3c96c73ea582e23&v=4" class="card-img-top" alt="..." style="width: 100%; height:100%; max-height: 250px; object-fit: cover; ">
                        </a>
                        <div class="card-body px-auto">
                            <a href="https://github.com/CedArctic" style="text-decoration: none; color:black">
                                <h4 class="card-title">CedArctic</h4>
                            </a>
                            <p class="card-text">
                                CedArctic
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <a href="https://github.com/kostino">
                        <img src="https://avatars1.githubusercontent.com/u/27733299?s=460&u=5f914ac4cae6c08bd2fc48d797533cd3e2d57bb7&v=4" class="card-img-top" alt="..." style="width: 100%; height:100%; max-height: 250px; object-fit: cover; ">
                        </a>
                        <div class="card-body px-auto">
                            <a href="https://github.com/kostino" style="text-decoration: none; color:black">
                                <h4 class="card-title">kostino</h4>
                            </a>
                            <p class="card-text">
                                Kostas Triaridis
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}