{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="container-md px-4 py-3 my-4" style="background-color: #ffffff; border-radius: 15px">
        <!-- Search -->
        <form class="d-flex input-group-lg" action="{{ url_for('SearchEvents') }}" method="post">
            <input class="form-control me-2" type="search" placeholder="Search for Events" name="searchQuery" aria-label="Search">
            <button class="btn btn-outline-success me-2" type="submit">Search</button>
        </form>
    </div>

    <div class="container-md px-4 py-3 my-3" style="background-color: white; border-radius: 15px">

        <!-- Title and actions row -->
        <div class="row pb-1">
            <div class="col-md">
                <h3 class="mx-auto">
                    {{ title }}
                </h3>
            </div>
            <div class="col-md d-flex justify-content-end">
                <a href="{{ url_for('CreateEvent') }}">
                    <button type="button" class="btn btn-outline-info">Create an Event</button>
                </a>
            </div>
        </div>

        <hr>

        <!-- Events container row -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

            {% for event in events %}

            <div class="col">
                <div class="card">
                    <a href="#">
                        <img src="https://cdn.wallpapersafari.com/82/45/CwxrRY.jpg" class="card-img-top" alt="..." style="width: 100%; height:100%; max-height: 250px; object-fit: cover; ">
                    </a>
                    <div class="card-body px-auto">
                        <a href="#" style="text-decoration: none; color:black">
                            <h4 class="card-title">{{ event['title'] }}</h4>
                        </a>
                        <p class="card-text">
                            {{ event['datetime'][:16] }}
                            <br>
                            {{ event['location_name'] }}
                        </p>
                        <button type="button" class="btn btn-primary">Find Rides</button>
                        <!-- If user is a driver, place a 'Create Ride' button -->
                        {% if driverFlag %}
                        <button type="button" class="btn btn-outline-success">Create Ride</button>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>


{% endblock %}