{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <!-- Search -->
    <div class="container">
    <form action="{{ url_for('SearchEvents') }}" method="post">
        <div class="row justify-content-center mt-4">
            <div class="col-md-8" style="background-color: #ffffff; border-radius: 15px">
                <div class="row mt-4 justify-content-center mx-2">
                    <div class="col-md-9">
                        <div class="row">
                            <input class="form-control me-2" type="search" placeholder="Search for Events" name="searchQuery" aria-label="Search">
                        </div>
                        <div class="row justify-content-start mt-1">
                            <div class="col-md-4">
                                <div class="form-check justify-content-center">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        <p>Past Events</p>
                                    </label>
                                    <input class="form-check-input" type="checkbox" value="True" id="flexCheckDefault" name="oldEvents">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-check justify-content-center">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        <p>Near me</p>
                                    </label>
                                    <input class="form-check-input" type="checkbox" value="True" id="flexCheckDefault" name="nearMe">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <button class="btn btn-success" style="width: 100%"type="submit">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>

    <div class="container-md px-4 py-3 my-3" style="background-color: white; border-radius: 15px">

        <!-- Title and actions row -->
        <div class="row pb-1">
            <div class="col-md">
                <h3 class="mx-auto">
                    {{ title }}
                </h3>
            </div>
            <div class="col-md d-flex justify-content-end">
                <a href="{{ url_for('CreateEvent') }}">
                    <button type="button" class="btn btn-outline-info">Create an Event</button>
                </a>
            </div>
        </div>

        <hr>

        <!-- Events container row -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

            <!-- If there are no events print message -->
            {% if not events %}
                <h4 class="mx-auto" style="text-align: center">Currently there are no events that match your search.</h4>
            {% endif %}

            {% for event in events %}

            <div class="col">
                <div class="card">
                    {% if event['type'] %}
                    <a href="{{ url_for('EventRides', event_id=event['event_id']) }}">
                        <img src="{{ url_for('EventPictures', event_type=event['type']) }}" class="card-img-top" alt="..." style="width: 100%; height:100%; max-height: 250px; object-fit: cover; ">
                    </a>
                    {% else %}
                    <a href="{{ url_for('EventRides', event_id=event['event_id']) }}">
                        <img src="https://cdn.wallpapersafari.com/82/45/CwxrRY.jpg" class="card-img-top" alt="..." style="width: 100%; height:100%; max-height: 250px; object-fit: cover; ">
                    </a>
                    {% endif %}
                    <div class="card-body px-auto">
                        <a href="{{ url_for('EventRides', event_id=event['event_id']) }}" style="text-decoration: none; color:black">
                            <h4 class="card-title">{{ event['title'] }}</h4>
                        </a>
                        <p class="card-text">
                            {{ event['datetime'][:16] }}
                            <br>
                            {{ event['location_name'] }}
                        </p>
                        <a href="{{ url_for('EventRides', event_id=event['event_id']) }}" role="button" class="btn btn-primary me-2">
                            Find Rides
                        </a>

                        <!-- If user is a driver, place a 'Create Ride' button -->
                        {% if driverFlag and event['event_id'] not in userEventsWithRide %}
                        <a href="{{ url_for('CreateRide', event_id=event['event_id']) }}" role="button" class="btn btn-primary">
                            Create Ride
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>


{% endblock %}