{% extends 'base.html' %}
{% block title %}Apply to be a Driver{% endblock %}

{% block style %}
    body{
        background-image: url("{{ url_for('static', filename='pexels-dominika-roseclay-1252500.jpg') }}");
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

{% endblock %}

{% block content %}

    <div class="container-md py-5 my-5 text-center">
        <div class="row">
            <div class="col-md"></div>

            <div class="col-md container py-4"  style="background-color: white; border-radius: 15px">
                <img src="{{ url_for('static', filename='Shotgun4.png') }}" alt="Shotgun Logo" style="min-width: 100px; width: 20%">
                <h2>Apply to be a Driver</h2>
                <form action="{{ url_for('DriverCertification') }}" method="post" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Driver's License</span>
                        <input type="file" class="form-control" placeholder="Driver's License" aria-label="Driver's License" aria-describedby="basic-addon1" name="driver_license">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Registration Certificate</span>
                        <input type="file" class="form-control" placeholder="Registration Certificate" aria-label="Registration Certificate" aria-describedby="basic-addon1" name="registration">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Vehicle</span>
                        <input type="text" class="form-control" placeholder="Vehicle" aria-label="Vehicle" aria-describedby="basic-addon1" name="vehicle">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Vehicle Image</span>
                        <input type="file" class="form-control" placeholder="Vehicle Image" aria-label="Vehicle Image" aria-describedby="basic-addon1" name="vehicle_image">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Identity Document</span>
                        <input type="file" class="form-control" placeholder="Identity Document" aria-label="Identity Document" aria-describedby="basic-addon1" name="identity">
                    </div>
                    <button type="submit" class="btn btn-success">Register</button>
                </form>
            </div>

            <div class="col-md"></div>
        </div>

    </div>


{% endblock %}
