{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block style %}
    body{
        background-image: url("{{ url_for('static', filename='pexels-dominika-roseclay-1252500.jpg') }}");
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

{% endblock %}

{% block content %}

    <div class=".container" style="width: 80%; margin:auto;">
{#        <div class=".container-fluid" style="background-color: green; height: 50px"></div>#}

        <!-- TODO: Remove default login options. They are here for development convenience -->

        <div id="login-box" class=".container-m text-center position-absolute top-50 start-50 translate-middle"
             style="max-width: 40%; min-width: 40%; padding: 20px; border-radius: 10px; box-shadow: 3px 3px 3px grey;
                    background-color: #ffffff;">
            <img src="{{ url_for('static', filename='Shotgun4.png') }}" alt="Shotgun Logo" style="min-width: 100px; width: 20%">
            <h2>Shotgun Login</h2>
            <form action="/login" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Username</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="username" value="han.yolo">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Password</span>
                    <input type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1" name="password" value="8FGS05RD">
                </div>
                <button type="submit" class="btn btn-success">Login</button>
            </form>

        </div>

    </div>


{% endblock %}