<!DOCTYPE html>
<html>
<body>

<h2>Shotgun Login</h2>

<!-- TODO: Remove default login options. They are here for development convenience -->

<form action="/login" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" value="han.yolo"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" value="8FGS05RD"><br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>
