{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <!-- TODO: Remove default login options. They are here for development convenience -->

    <div class="container-md py-5 my-5 text-center">
        <div class="row">
            <div class="col-md"></div>

            <div class="col-md container py-4"  style="background-color: white; border-radius: 15px">
                <img src="{{ url_for('static', filename='Shotgun4.png') }}" alt="Shotgun Logo" style="min-width: 100px; width: 20%">
                <h2>Shotgun Login</h2>
                <form action="/login" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Username</span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="username" value="han.yolo">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Password</span>
                        <input type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1" name="password" value="han.yoloPassword">
                        <input id="lat" type="hidden" class="form-control" name="lat" value="">
                        <input id="long" type="hidden" class="form-control" name="long" value="">
                    </div>
                    <button type="submit" class="btn btn-success">Login</button>
                    <a href="{{ url_for('Register') }}" class="btn btn-secondary">Register</a>
                </form>
            </div>

            <div class="col-md"></div>
        </div>

    </div>

    <script>
    window.onload = getPosition();
    function error(err) {
        console.warn('ERROR(' + err.code + '): ' + err.message);
    }
    function showPosition(position) {
        let long = document.getElementById("long");
        let lat = document.getElementById("lat");
        lat.value = position.coords.latitude;
        long.value = position.coords.longitude;
    }
    function getPosition() {
        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition,error);
        } else {
            alert("Sorry, your browser does not support HTML5 geolocation.");
        }
    }

</script>
{% endblock %}