{% extends 'base.html' %}
{% block title %}Manage Driver Applications{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <div class="container-md px-4 py-3 my-3" style="background-color: white; border-radius: 15px">

        <!-- Title and actions row -->
        <div class="row pb-1">
            <div class="col-md">
                <h3 class="mx-auto">
                    Manage Driver Applications
                </h3>
            </div>
        </div>

        <hr>

        <!-- If there are no applications print message -->
        {% if not applications %}
            <h4 class="mx-auto" style="text-align: center">No rides for this event</h4>
        {% endif %}

        {% for application in applications %}
            <!-- Documents Preview Modal -->
            <div class="modal fade" id="{{ application['username'] }}Modal" tabindex="-1" aria-labelledby="{{ application['username'] }}ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="{{ application['username'] }}ModalLabel">
                                {{ application['username'] }}'s Driver Documents
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"></li>
                                    <li data-bs-target="#carouselIndicators" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carouselIndicators" data-bs-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{{ url_for('Documents', userdir=application['vehicle_image'].split('/')[0],
                                                filename=application['vehicle_image'].split('/')[1]) }}"
                                             class="d-block w-100" alt="{{ application['username'] }}'s License">
                                    </div>
                                    <div class="carousel-item active">
                                        <img src="{{ url_for('Documents', userdir=application['license'].split('/')[0],
                                                filename=application['license'].split('/')[1]) }}"
                                             class="d-block w-100" alt="{{ application['username'] }}'s License">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{{ url_for('Documents', userdir=application['registration'].split('/')[0],
                                                filename=application['registration'].split('/')[1]) }}"
                                             class="d-block w-100" alt="{{ application['username'] }}'s Registration">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{{ url_for('Documents', userdir=application['identity'].split('/')[0],
                                                filename=application['identity'].split('/')[1]) }}"
                                             class="d-block w-100" alt="{{ application['username'] }}'s ID">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselIndicators" role="button" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Events container row -->
            <div class="row align-items-center my-3 mx-1"
                 style="border-style: solid; border-radius: 16px; border-width: thin; border-color: darkgray">
                <div class="col-md-4 px-0">
                        <img src="{{ url_for('Documents', userdir=application['vehicle_image'].split('/')[0],
                                                filename=application['vehicle_image'].split('/')[1]) }}" class=""
                             alt="{{ application['username'] }}'s vehicle"
                             style="width: 100%; height:100%; max-height: 200px; object-fit: cover; border-radius: 15px;">
                </div>
                <div class="col-md-5">
                    <div class="container my-2">
                        <div class="row justify-content-left align-items-end">
                            <div class="col-md-6">
                                <h4>Driver</h4>
                            </div>
                            <div class="col-md-6">
                                <h5>
                                    <a href="{{ url_for('UserProfile', username=application['username']) }}"
                                       style="text-decoration: none; color:black">
                                        {{ application['username'] }}
                                    </a>
                                </h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <h4>Vehicle</h4>
                            </div>
                            <div class="col-md-6">
                                <h5>{{ application['vehicle'] }}</h5>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ application['username'] }}Modal">
                                View Documents
                            </button>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container my-2">
                        <form action="{{ url_for('ModDriversToApprove', _external=True) }}" method="post">
                            <input type="hidden" name="username" value="{{ application['username'] }}">
                            <button type="submit" role="button" class="btn btn-success mx-2 my-1" name="action" value="accept">
                                Approve
                            </button>
                            <button type="submit" role="button" class="btn btn-danger mx-2 my-1" name="action" value="reject">
                                Reject
                            </button>
                        </form>
                    </div>
                </div>
            </div>


        {% endfor %}

    </div>


{% endblock %}
