{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="container-md px-4 py-3 my-3" style="background-color: white; border-radius: 15px">

        <!-- Title and actions row -->
        <div class="row pb-1">
            <h3 class="mx-auto">
                {{ title }}
            </h3>
        </div>

        <hr>

        <!-- Events container row -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

            <!-- If there are no events print message -->
            {% if not events %}
                <h4 class="mx-auto" style="text-align: center">No pending events.</h4>
            {% endif %}

            {% for event in events %}

            <div class="col">
                <div class="card">
                    <img src="https://cdn.wallpapersafari.com/82/45/CwxrRY.jpg" class="card-img-top" alt="..." style="width: 100%; height:100%; max-height: 250px; object-fit: cover; ">
                    <div class="card-body px-auto">
                        <h4 class="card-title">{{ event['title'] }}</h4>
                        <p class="card-text">
                            {{ event['datetime'][:16] }}
                            <br>
                            {{ event['location_name'] }}
                        </p>

                        <form action="{{ url_for('ModDriversToApprove', _external=True) }}" method="post">
                            <input type="hidden" name="event_id" value="{{ event['event_id'] }}">
                            <button type="submit" role="button" class="btn btn-success mx-2 my-1" name="action" value="accept">
                                Approve
                            </button>
                            <button type="submit" role="button" class="btn btn-danger mx-2 my-1" name="action" value="reject">
                                Reject
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>


{% endblock %}