{% extends 'base.html' %}
{% block title %}Payment Methods{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="container-md px-4 py-3 my-5" style="background-color: white; border-radius: 15px">

        <div class="row pb-1">
            <div class="col-md">
                <h3 class="mx-auto">
                    Payment Methods
                </h3>
            </div>
            <div class="col-md d-flex justify-content-end">
                <a href="{{ url_for('AddPaymentMethod') }}">
                    <button type="button" class="btn btn-outline-info">Add Payment Method</button>
                </a>
            </div>
        </div>

        <hr>

        <!-- Credit Cards row -->
        <div class="row row-cols-auto justify-content-center">
            {% for card in creditCards %}
{#                {% for i in range(3) %}#}

            <!-- Outer card container -->
{#            <div class="col-xl-4 px-2" style="border-style: dotted; border-radius: 15px; border-color: darkgray">#}
            <div class="col-xl-4 px-2">

                <!-- Card name -->
                <div class="row">
                    <h3>{{ card['name'] }}</h3>
                </div>

                <!-- Card row & container -->
                <div class="row px-3">
                    <div class="container my-2 px-4" style="border-radius: 15px;
                    border-width: thin; box-shadow: 4px 3px 8px 1px #969696;
                    background-image: url('https://image.ibb.co/bVnMrc/g3095.png'), linear-gradient(to right top, #a2beeb, #8ecfee, #8edde5, #a4e7d5, #c7eec7);">

                        <!-- Card logo -->
                        <div class="row my-4">
                            {% if card['type'] == 'VISA' %}
                                <div class="col"><img src="{{ url_for('static', filename='visa.png') }}" style="max-width: 15%;"></div>
                            {% elif card['type'] == 'AmEx' %}
                                <div class="col"><img src="{{ url_for('static', filename='american-express.png') }}" style="max-width: 15%;"></div>
                            {% elif card['type'] == 'MasterCard' %}
                                <div class="col"><img src="{{ url_for('static', filename='mastercard.png') }}" style="max-width: 15%;"></div>
                            {% elif card['type'] == 'DinersClub' %}
                                <div class="col"><img src="{{ url_for('static', filename='diners-club.png') }}" style="max-width: 15%;"></div>
                            {% endif %}
                        </div>

                        <div class="row my-4">
                            <div class="col">
                                <h3 style="color: white">{{ card['number'] }}</h3>
                            </div>
                        </div>

                        <div class="row my-4" style="color:white">
                            <div class="col">CVV: <br>{{ card['cvv'] }}</div>
                            <div class="col">Exp Date: <br>{{ card['exp_date'][:16] }}</div>
                        </div>
                    </div>
                </div>

                <!-- Card Actions row -->
                <div class="row justify-content-center mb-3">
                    <div class="col-auto">
                        {% if card['is_primary'] == 1 %}
                            <button type="button" class="btn btn-success" disabled>Primary</button>
                        {% else %}
                            <form action="{{ url_for('UserSetPrimary') }}" method="post">
                                <input type="hidden" id="payment_id" name="payment_id" value="{{ card['payment_id'] }}">
                                <button type="submit" class="btn btn-outline-primary">Set Primary</button>
                            </form>
                        {% endif %}
                    </div>
                    <div class="col-auto">
                        <form action="{{ url_for('DeletePaymentMethod') }}" method="post">
                            <input type="hidden" id="payment_id" name="payment_id" value="{{ card['payment_id'] }}">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </div>
                </div>

            </div>
{#                {% endfor %}#}
            {% endfor %}
        </div>

        <!-- PayPal Accounts row -->
        <div class="row row-cols-auto justify-content-center">
            {% for account in paypalAccounts %}
                {#                {% for i in range(3) %}#}

                <!-- Outer account container -->
                {#            <div class="col-xl-4 px-2" style="border-style: dotted; border-radius: 15px; border-color: darkgray">#}
                <div class="col-xl-4 px-2">

                    <!-- Account name -->
                    <div class="row">
                        <h3>{{ account['name'] }}</h3>
                    </div>

                    <!-- Account row & container -->
                    <div class="row px-3">
                        <div class="container my-2 px-4" style="border-radius: 15px; text-align: center;
                    border-width: thin; box-shadow: 4px 3px 8px 1px #969696;
                    background-image: url('{{ url_for('static', filename='g3095.png') }}'), linear-gradient(to right top, #a2beeb, #8ecfee, #8edde5, #a4e7d5, #c7eec7);">
                            <!-- Card logo -->
                                <img class="my-5" src="{{ url_for('static', filename='paypal.png') }}" style="max-width: 35%;">
                        </div>
                    </div>

                    <!-- Account Actions row -->
                    <div class="row justify-content-center mb-3">
                        <div class="col-auto">
                            {% if account['is_primary'] == 1 %}
                                <button type="button" class="btn btn-success" disabled>Primary</button>
                            {% else %}
                                <form action="{{ url_for('UserSetPrimary') }}" method="post">
                                    <input type="hidden" id="payment_id" name="payment_id" value="{{ account['payment_id'] }}">
                                    <button type="submit" class="btn btn-outline-primary">Set Primary</button>
                                </form>
                            {% endif %}
                        </div>
                      <div class="col-auto">
                          <form action="{{ url_for('DeletePaymentMethod') }}" method="post">
                              <input type="hidden" id="payment_id" name="payment_id" value="{{ account['payment_id'] }}">
                              <button type="submit" class="btn btn-danger">Remove</button>
                          </form>
                      </div>
                    </div>

                </div>
                {#                {% endfor %}#}
            {% endfor %}
        </div>

    </div>


{% endblock %}
