{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="container-md py-5 my-5 text-center">
        <div class="row">

            <div class="col-md-6 container py-4"  style="background-color: white; border-radius: 15px">
                <img src="{{ url_for('static', filename='Shotgun4.png') }}" alt="Shotgun Logo" style="min-width: 100px; width: 20%">
                <h2>Register</h2>
                <form action="{{ url_for('Register') }}" method="post" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Username</span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="username">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Password</span>
                        <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" name="password">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">First Name</span>
                        <input type="text" class="form-control" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1" name="first_name">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Surname</span>
                        <input type="text" class="form-control" placeholder="Surname" aria-label="Surname" aria-describedby="basic-addon1" name="surname">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Profile Picture Link</span>
                        <input type="file" class="form-control" placeholder="Profile Picture" aria-label="Profile Picture" aria-describedby="basic-addon1" name="profile_picture">
                    </div>
                    <button type="submit" class="btn btn-success">Register</button>
                </form>
            </div>

        </div>

    </div>



{% endblock %}
