{% extends 'base.html' %}
{% block title %}{{ rideInfo['driver_username'] }}'s Ride{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <div class="container-md px-4 py-3 my-3" style="background-color: white; border-radius: 15px">

        <!-- Title and actions row -->
        <div class="row pb-1">
            <div class="col-md">
                <h3 class="mx-auto">
                    {{ rideInfo['driver_username'] }}'s Ride for {{ eventInfo['title'] }}
                </h3>
            </div>
        </div>

        <!-- Ride details row -->
        <div class="row">
            <div class="col-md-4 mb-4">
                <img src="{{ url_for('VehicleImage', filename=driverInfo['vehicle_image']) }}"
                     alt="{{ rideInfo['driver_username'] }}'s ride image"
                     style="border-radius: 5px; width: 100%; height:100%; object-fit: cover" class="my-2">
            </div>
            <div class="col-md-4">
                <div>
                    <h4>Description</h4>
                    <p>{{ rideInfo['description'] }}</p>

                    <h4>Departure Date and Time</h4>
                    <p>{{ rideInfo['start_datetime'][:18] }}</p>

                    <h4>Departure Location</h4>
                    <p>{{ rideInfo['location_name'] }}</p>

                    {% if rideInfo['return_datetime'] %}
                        <h4>Return Date and Time</h4>
                        <p>{{ rideInfo['return_datetime'][:18] }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h4>Available Seats</h4>
                    <p>{{ rideInfo['available_seats'] }}/{{ rideInfo['seats'] }}</p>

                    <h4>Passengers</h4>
                    <ul class="list-group">
                    {% for passenger in passengers %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{{ url_for('UserProfile', username=passenger['username'], _external=True) }}"
                               style="text-decoration: none;">
                                {{ passenger['username'] }}
                            </a>
                            <span class="badge bg-primary rounded-pill">
                              {{ passenger['avg_user_rating'] if passenger['avg_user_rating'] else 'No ratings' }} ⭐
                            </span>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <hr>

        <!-- If user is logged in and is not a driver with a ride in this event show application form-->
        {% if 'username' in session %}
            {% if rideInfo['available_seats'] == 0 %}
                <div class="alert alert-primary" role="alert" style="text-align: center">
                    Ride Full
                </div>
            {% elif driverWithRideFlag %}
                <div class="alert alert-primary" role="alert" style="text-align: center">
                    You are driving another ride for this event!
                </div>
            {% elif alreadyAppliedFlag %}
                <div class="alert alert-primary" role="alert" style="text-align: center">
                    You have already applied for this ride!
                </div>
            {% elif alreadyAcceptedFlag %}
                <div class="alert alert-primary" role="alert" style="text-align: center">
                    You are a passenger in this ride!
                </div>
            {% elif passengerInOtherRideFlag %}
                <div class="alert alert-primary" role="alert" style="text-align: center">
                    You are a passenger in another ride for this event!
                </div>
            {% else %}
                <form action="{{ url_for('RideView', ride_id=rideInfo['ride_id'], _external=True) }}" method="post">
                    <div class="row mb-2 justify-content-center">
                        <div class="col-md-4">
                            <h3 class="mx-auto">
                                Message to driver
                            </h3>
                        </div>
                        <div class="col-md-4 d-flex justify-content-end">
                            <a href="{{ url_for('RideView', ride_id=rideInfo['ride_id']) }}">
                                <button type="submit" class="btn btn-primary">Apply to Ride</button>
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                                <div class="my-3 mx-auto">
                                    <textarea class="form-control" id="message" rows="2" name="message"
                                              aria-label="message" aria-describedby="message-label"></textarea>
                                </div>
                        </div>
                    </div>
                </form>
            {% endif %}
        <!-- Else print an error message -->
        {% else %}
            <div class="alert alert-primary" role="alert" style="text-align: center">
                You need to login to apply to this ride
            </div>
        {% endif %}

    </div>


{% endblock %}
