{% extends 'base.html' %}
{% block title %}{{ messageTitle }}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="container-md py-5 my-5 text-center" style="background-color: white; border-radius: 15px">
        <div class="row justify-content-center">

            <div class="col-md-8 container py-4" >
                <h2>{{ messageTitle }}</h2>
                <p>{{ message }}</p>
            </div>

        </div>

        <!-- If redirect context is defined -->
        {% if context is defined %}
        <div class="row justify-content-center">
            <a href="{{ context['redirect_link'] }}">
                <button type="button" class="btn btn-primary">{{ context['button_text'] }}</button>
            </a>
        </div>
        {% endif %}
    </div>


{% endblock %}