{% extends 'base.html' %}
{% block title %}{{ messageTitle }}{% endblock %}

{% block style %}
    body{
    background-image: url("{{ url_for('static', filename='pexels-dominika-roseclay-1252500.jpg') }}");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    }

{% endblock %}

{% block content %}

    <div class=".container" style="width: 80%; margin:auto;">
        {#        <div class=".container-fluid" style="background-color: green; height: 50px"></div>#}

        <!-- TODO: Remove default login options. They are here for development convenience -->

        <div id="login-box" class=".container-m text-center position-absolute top-50 start-50 translate-middle"
             style="max-width: 40%; min-width: 40%; padding: 20px; border-radius: 10px; box-shadow: 3px 3px 3px grey;
                    background-color: #ffffff;">
            <h2>{{ messageTitle }}</h2>
            <p>{{ message }}</p>

        </div>

    </div>


{% endblock %}