{% extends 'base.html' %}
{% block title %}{{ userData['username'] }}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="container-md px-4 py-3 my-5" style="background-color: white; border-radius: 15px">

        <div class="row pb-1">
            <div class="col-md">
                <h3 class="mx-auto">
                    {% if session['username'] == userData['username'] %}
                        My Profile
                    {% else %}
                        {{ userData['username'] }}'s Profile
                    {% endif %}
                </h3>
            </div>
            {% if session['username'] == userData['username'] %}
            <div class="col-md d-flex justify-content-end">
                <a href="{{ url_for('EditUserProfile', username=session['username']) }}">
                    <button type="button" class="btn btn-outline-info">Edit Profile</button>
                </a>
            </div>
            {% endif %}
        </div>

        <!-- User row -->
        <div class="row">
            <!-- Profile picture and driver tick mark -->
            <div class="col-md" style="">
                <div class="container d-flex justify-content-center" style="position: relative">
                    <img class="" src="{{ url_for('ProfilePicture', filename=userData['profile_picture']) }}"
                         style="border-radius: 50%; border-width: thick; border-style: solid; border-color: #62a6ff; max-width: 75%" alt="User icon">
                    {% if driverFlag %}
{#                        <div class="position-absolute top-50 start-50">#}
                            <img class="position-absolute" src="{{ url_for('static', filename='verify.png') }}" alt="Verify Logo"
                                 style="max-width: 15%; left:65%">
{#                        </div>#}
                    {% endif %}
                </div>
            </div>
            <div class="col-md">
                <div class="row my-4">
                    <h3>First Name</h3>
                    <h4>{{ userData['first_name'] }}</h4>
                </div>
                <div class="row my-4">
                    <h3>Last Name</h3>
                    <h4>{{ userData['surname'] }}</h4>
                </div>
            </div>
            <div class="col-md">
                <div class="row my-4">
                    <h3>Average Passenger Rating</h3>
                    <h4>⭐ Placeholder</h4>
                </div>
                {% if session['username'] == userData['username'] %}
                <div class="row my-4">
                    <h3>Payment Methods</h3>
                    <a href="{{ url_for('PaymentMethods', username=session['username']) }}">
                        <button type="button" class="btn btn-primary" style="max-width: 50%">Manage</button>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>

        <hr/>

        <!-- Driver row -->
        {% if driverFlag %}
        <div class="row my-4">
            <!-- Profile picture and driver tick mark -->
            <div class="col-md" style="">
                <div class="container d-flex justify-content-center">
                    <img class="" src="{{ url_for('static', filename='Shotgun4.png') }}"
                         style="border-radius: 50%; border-width: thick; border-style: solid; border-color: #62a6ff; max-width: 50%" alt="User icon">
                </div>
            </div>
            <div class="col-md">
                <div class="row my-4">
                    <h3>Vehicle</h3>
                    <h4>{{ driverData['vehicle'] }}</h4>
                </div>
            </div>
            <div class="col-md">
                <div class="row my-4">
                    <h3>Average Driver Rating</h3>
                    <h4>⭐ Placeholder</h4>
                </div>
            </div>
        </div>

        <hr/>
        {% endif %}

        <div class="row my-4 mx-2">
            <!-- Passenger ratings -->
            <div class="col-md me-3">

                <div class="row">
                    <div class="container d-flex justify-content-center">
                        <h3>Latest Passenger Ratings</h3>
                    </div>
                </div>

                {% if userRatings['ratings'] %}
                    {% for rating in userRatings['ratings'] %}
                    <div class="row my-2">
                        <div class="container-md ps-4 py-2" style="border-style: solid; border-width:thin; border-color: darkgray; border-radius: 15px; box-shadow: 4px 3px 8px 1px #969696;">
                            <h5>{{ rating['rater'] }} - {{ rating['stars']  * '⭐'  }}</h5>
                            <p>{{ rating['comment'] }}</p>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="row my-2">
                        <div class="container-md ps-4 py-2" style="text-align: center">
                            <h5>{{ userData['username'] }} currently has no passenger ratings</h5>
                        </div>
                    </div>
                {% endif %}

            </div>

            <!-- Driver ratings -->
            {% if driverFlag %}
            <div class="col-md">
                <div class="row">
                    <div class="container d-flex justify-content-center">
                        <h3>Latest Driver Ratings</h3>
                    </div>
                </div>

                {% if driverRatings['ratings'] %}
                    {% for rating in driverRatings['ratings'] %}
                        <div class="row my-2">
                            <div class="container-md ps-4 py-2" style="border-style: solid; border-width:thin; border-color: darkgray; border-radius: 15px; box-shadow: 4px 3px 8px 1px #969696;">
                                <h5>{{ rating['rater'] }} - {{ rating['stars']  * '⭐'  }}</h5>
                                <p>{{ rating['comment'] }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="row my-2">
                        <div class="container-md ps-4 py-2" style="text-align: center">
                            <h5>{{ userData['username'] }} currently has no driver ratings</h5>
                        </div>
                    </div>
                {% endif %}

            </div>
            {% endif %}
        </div>

    </div>


{% endblock %}
