{% extends 'base.html' %}
{% block title %}Mod Page{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class=".container" style="width: 80%; margin:auto;">

        <!-- TODO: Remove default login options. They are here for development convenience -->

        <div id="login-box" class=".container-m text-center position-absolute top-50 start-50 translate-middle"
             style="max-width: 20%; min-width: 20%; padding: 20px; border-radius: 10px; box-shadow: 3px 3px 3px grey;
                    background-color: #ffffff;">
            <div class=".container">
                <div class="row">
                    <div class="col-sm">
                        <img src="{{ url_for('static', filename='Shotgun4.png') }}" alt="Shotgun Logo" style="min-width: 100px; width: 20%">
                    </div>
                    <div class="col-sm">
                        <div class="row" style="padding: 5px;">
                            <a href="{{ url_for('ModDriversToApprove') }}"><button type="button" class="btn btn-success" style="max-width: 100%; min-width: 100%;">Approve Drivers</button></a>
                        </div>
                        <div class="row" style="padding: 5px;">
                            <a href="{{ url_for('ModEventsToApprove') }}"><button type="button" class="btn btn-success" style="max-width: 100%; min-width: 100%;">Approve Events</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}